@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  --color-primary: #2563eb; /* Primary Blue (Main Action Color) */
  --color-secondary: #10b981; /* Secondary Green (Accent / Success) */
  --color-accent: #fbbf24; /* Accent Yellow (Highlights / Warnings) */
  --color-text: #1f2937; /* Default Text Color (Dark Gray) */
  --color-background: #f9fafb; /* Background (Light Gray/White) */
  --color-danger: #f43f5e; /* Danger / Error (Red) */
  --color-muted: #6b7280; /* Muted Text / Placeholders (Gray) */
}
